<html>

	<head>
		<link rel="stylesheet" href="dropdown.css">
		<script defer src="dropdown.js"></script>
		
		<!-- useful for testing, but not for production, so it goes here :) -->
		<style>
			.dropdown {
				margin: auto;
				margin-top: 10%; /* honestly this is a random value; it sortof centers it around the middle of the page */
			}
		</style>
	</head>

	<body>
		<div class="dropdown">
			<button class="title">Select an event</button>

			<ul class="items">
				<li>Oii</li>
				<li>Ois Round 1</li>
				<li>Ois Round 2</li>
				<li>Ois Round 3</li>
				<li>Ois Round 4</li>
				<li class="last-item">Ois Finals</li>
			</ul>
		</div>
	</body>

</html>
