
table {
	margin: auto;
	border-collapse: collapse;
}



td div{
	line-height: 20px;
	width: 100px;
	height: 20px;

	border-radius: 25px;
  	border: 1px solid black;

	text-align: center;
	font-size: 15px;

	background-color: white;

	font-family: "Poppins Regular", Arial, Helvetica, sans-serif;
}

td div:hover{
	transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.available a{
	display: block;
	width: 100px;
	height: 20px;

	color: black;
	text-decoration: none;

}

.unavailable div {
	background: repeating-linear-gradient(
		135deg,
		gray,
		gray 10px,
		darkgray 10px,
		darkgray 20px
	);
}

.fullScore div {
	background: repeating-linear-gradient(
		135deg,
		lightgreen,
		lightgreen 10px,
		greenyellow 10px,
		greenyellow 20px
	);
}

.fail div {
	background: repeating-linear-gradient(
		135deg,
		lightcoral,
		lightcoral 10px,
		crimson 10px,
		crimson 20px
	);
}

.somePoints div {
	background: repeating-linear-gradient(
		135deg,
		gold,
		gold 10px,
		orange 10px,
		orange 20px
	);
}

@font-face {
	font-family: "Poppins regular";
	src: url("assets/Poppins-Regular.ttf")
	format("truetype");
}