<html>

	<head>
		<link rel="stylesheet" href="table.css">
		<script defer src="table.js"></script>
	</head>

	<body>
		<table>
			<tr>
				<th>2021</th>
				<td class="score-success">
					<a href="https://training.olinfo.it">
						TrendyTrash
					</a>
				</td>
				<td class="score-null">
					<a href="https://training.olinfo.it">
						Riciclo
					</a>
				</td>
				<td class="score-mixed">
					<a href="https://training.olinfo.it">
						Foglietto
					</a>
				</td>
				<td class="score-null">Smaltimento</td>
			</tr>
			<tr>
				<th>2020</th>
				<td class="score-fail">
					<a href="https://training.olinfo.it">
						Candele
					</a>
				</td>
				<td class="score-fail">
					<a href="https://training.olinfo.it">
						Ristorante
					</a>
				</td>
				<td class="score-mixed">
					<a href="https://training.olinfo.it">
						Compleanno
					</a>
				</td>
			</tr>
			<tr>
				<th>...</th>
				<td>...</td>
				<td>...</td>
				<td>...</td>
			</tr>
			<tr>
				<th>2006</th>
				<td class="unavailable">Bilancino</td>
				<td class="unavailable">Brambillia</td>
				<td class="unavailable">Serie</td>
			</tr>
		</table>
	</body>

</html>