@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css);

/* table border shenanigans */
table {
	border-collapse: collapse;
}

tr, th, td {
	border: 1px solid #B1B1B1;
}

/* score-based background colors */
.score-null {
	background-color: #F5F5F5;
}

.score-success {
	background-color: #C7FFD0;
}

.score-fail {
	background-color: #FFD1D1;
}

.score-mixed {
	background: linear-gradient(to right, #FFE1B5 var(--percentage-done), transparent 0%);
}

/* availability-based styling (links if available, different background if not) */
.unavailable {
	background-color: #D3D3D3;
}

td:not(.unavailable) > a {
	display: block;
	text-decoration: none;
	color: inherit;
}

/* cell text stuff */
th, td {
	font-size: 20;
	font-family: "Fira Code";
	text-align: center;
}

th {
	font-weight: 600;
}

/* cell size/space shenanigans */
th, td {
	padding: 5;
}